/* Mobile responsiveness for event card vertical date style */
@media screen and (max-width: 600px) {
   .event-card {
      flex-direction: column;
      align-items: flex-start;
      padding: 1em 0.7em;
      gap: 0.5em;
   }
   .event-date {
      flex-direction: row;
      align-items: baseline;
      font-size: 1.3rem;
      margin-bottom: 0.1em;
      margin-right: 0;
      gap: 0.4em;
   }
   .event-date .event-month {
      font-size: 1rem;
      margin-top: 0;
      margin-left: 0.2em;
   }
   .event-title {
      font-size: 1rem;
   }
   .event-meta {
      font-size: 0.9rem;
      gap: 0.4em;
   }
}
@media screen and (max-width: 1000px) {

   .divTwo .firstSec .courseSec,
   .divThree .firstSec .imgSec,
   .divFour .firstSec .subSec {
      width: 45%;
   }

   .divThree .firstSec .imgSec::after {
      top: 0%;
      opacity: 1;
   }
}


@media screen and (max-width: 900px) {

   .coverDiv .mainHeader .navItems,
   .mainHeader .navItems {
      width: 0%;
      position: absolute;
      top: 80px;
      right: 0;
      flex-direction: column;
      background-color: #a94899e1;
      box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
      padding-block: 20px;
      transition: 0.5s;
      z-index: 5;
      overflow: hidden;
   }

   .coverDiv .mainHeader .hamburgerIcon,
   .mainHeader .hamburgerIcon {
      display: flex;
   }
}


@media screen and (max-width: 700px) {
   .coverDiv .mainDiv .mainSec>h1 {
      font-size: 60px;
   }

   .coverDiv .mainDiv .mainSec>p {
      font-size: 1.2rem;
   }

   .divTwo .firstSec .courseSec,
   .divThree .firstSec .imgSec,
   .divFour .firstSec .subSec {
      width: 70%;
   }

   .divFive .subSec {
      width: 85vw;
      margin-left: 0;
   }

}


@media screen and (max-width: 600px) {
   .coverDiv .mainDiv .mainSec>h1 {
      font-size: 50px;
   }
}


@media screen and (max-width: 500px) {
   :root {
      --rem2: 1.9rem;
      --rem1-3: 1.2rem;
      --rem1-1: 1rem;
      --rem1-05: 0.95rem;
   }

   .coverDiv .mainHeader,
   .mainHeader {
      padding-inline: max(5%, 30px);
   }

   .coverDiv .mainDiv .mainSec>h1 {
      font-size: 43px;
   }

   .coverDiv .mainDiv .mainSec>p {
      font-size: 1rem;
   }

   .divTwo .firstSec .courseSec,
   .divThree .firstSec .imgSec,
   .divFour .firstSec .subSec {
      width: 90%;
   }

   .divTwo .firstSec .courseSec {
      margin-bottom: 20px;
   }

}


@media screen and (max-width: 400px) {
   .mainHeader .logoSec>i {
      font-size: x-large;
   }

   .mainHeader .logoSec>span {
      font-size: medium;
   }

   .mainHeader .hamburgerIcon>i {
      font-size: large;
   }

   .coverDiv .mainDiv .mainSec>h1 {
      font-size: 37px;
   }

   .divTwo>section,
   .divThree>section,
   .divFour>section,
   .divFive>section,
   .divSeven>section {
      width: 90%;
   }

   .divFive .subSec {
      flex-direction: column;
      width: 85vw;
   }

   .divFive .subSec .quoteSec {
      width: 100%;
   }

}


@media screen and (max-width:350px) {

   .coverDiv .mainHeader,
   .mainHeader {
      padding-inline: max(5%, 20px);
   }

   .coverDiv .mainDiv .mainSec>h1 {
      font-size: 32px;
   }

   .coverDiv .mainDiv .mainSec>p {
      padding-block: 15px;
   }

   .coverDiv .mainDiv .mainSec>a {
      padding: 8px 40px 8px;
   }

   .divTwo .firstSec .courseSec,
   .divThree .firstSec .imgSec,
   .divFour .firstSec .subSec {
      width: 100%;
   }

}


@media screen and (max-width:300px) {
   .coverDiv .mainDiv .mainSec>h1 {
      font-size: 30px;
   }

   .coverDiv .mainDiv .mainSec>p {
      font-size: 1rem;
   }

   .coverDiv .mainDiv .mainSec>a {
      padding: 7px 30px 7px;
   }

   .divSeven .firstSec>a {
      margin-inline: 5px;
   }

}


@media screen and (max-width:280px) {
   .coverDiv .mainDiv .mainSec>h1 {
      font-size: 28px;
   }
}




@media screen and (max-height:400px) {
   .coverDiv .mainDiv .mainSec {
      margin-block: 25%;
   }

   @keyframes topSlide {
      from {
         margin-top: -20%;
         opacity: 0;
      }

      to {
         margin-top: 25%;
         opacity: 1;
      }


   }


}